@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}
p {
    color: hsl(215, 51%, 70%);
}
.nft-card {
    background: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 50px auto;
    padding: 10px;
    border-radius: 10px;
}
.img-container {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container > img {
    width: 300px;
    height: 280px;
    border-radius: 5px;
}
main {
    width: 320px;
    height: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main > h1 {
    font-size: 20px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}
main > p {
    font-size: 18px;
    color: hsl(215, 51%, 70%);
}
.price-container {
    display: flex;
    justify-content: space-between;
}
.price-container > p {
    font-size: 18px;
}
.price {
    color: hsl(178, 100%, 50%);
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    width: 100px;
}
.count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 105px;
}
.line {
    width: 280px;
    background: hsl(215, 32%, 27%);
    height: 2px;
}
.owner-attribution {
    display: flex;
    align-items: center;
    height: 40px;
}
.owner-attribution > span {
    color: hsl(0, 0%, 100%);
    margin-left: 5px;
}
.avatar {
    height: 40px;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    margin-right: 15px;
}



.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-bottom: 100px; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.saw {
color: 

- Very dark blue (line): 
}